@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Modern+Antiqua&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

:root {
  --main: #69dd78;
  --light: #c1ff72;
  --dark: #00bf63;
  --white: #ffffff;
  --info: #c5baf3;
  --accent: #f79730;
  --correct: #7ec380;
  --text-dark: #191716;
  --text-light: #1e293b;
  --max-width: 1200px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.nav-header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  position: relative;
  width: 100%;
}

.nav-menu-btn {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

.nav-link {
  align-items: center;
  bottom: 0;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  left: 0;
  padding: 2rem;
  position: absolute;
  transform: translateY(0);
  transition: transform 0.4s ease;
  width: 100%;
  z-index: -1;
}

.nav-link.open {
  transform: translateY(100%);
}

.nav-link a {
  font-weight: 500;
  color: var(--white);
}

.nav-btn {
  display: none;
}

.logo-img {
  height: 70px;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section-header {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
  line-height: 3.25rem;
}
.section-header span {
  color: var(--main);
}

.section-subheader {
  color: var(--main);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-description {
  color: var(--text-light);
  line-height: 1.75rem;
}

.header-container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header-content h1 {
  color: var(--text-dark);
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.header-content h1 span {
  text-decoration: underline;
  text-decoration-color: var(--main);
}

.header-content .section-description {
  text-align: center;
}

.header-content form {
  align-items: center;
  background-color: var(--white);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  margin-top: 4rem;
}

.header-content .input-group {
  display: grid;
  flex: 1 0 125px;
  gap: 10px;
}

.header-content label {
  color: var(--text-dark);
  font-size: 1.1rem;
  font-weight: 500;
}

.header-content input {
  background-color: transparent;
  border: none;
  color: var(--text-light);
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.header-content input::placeholder {
  color: var(--text-light);
}

.header-content .btn {
  border-radius: 1rem;
  font-size: 1.75rem;
  padding: 13px 15px;
}
.header-img {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 90px;
  isolation: isolate;
  position: relative;
}

.header-img img {
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  height: 100%;
  object-fit: cover;
}

.header-img img:nth-child(1) {
  grid-area: 1/1/4/3;
}

.header-img img:nth-child(2) {
  grid-area: 4/1/7/3;
}

.header-img img:nth-child(3) {
  grid-area: 2/3/6/6;
}

.header-img img:nth-child(4) {
  aspect-ratio: 1;
  box-shadow: none;
  height: 20rem;
  object-fit: contain;
  position: absolute;
  right: 4rem;
  top: -2rem;
  transform: rotate(20deg);
  width: unset;
}

.choose-container {
  display: grid;
  gap: 4rem;
  overflow: hidden;
  position: relative;
}

.choose-container img {
  border-radius: 2rem;
  box-shadow: 30px -30px 0px rgba(0, 0, 0, 0.1);
  max-width: 475px;
  margin-inline: auto;
  transform: rotate(90deg);
}
.choose-container .about-img {
  box-shadow: none;
  position: absolute;
  transform: rotate(90deg);
  top: -5rem;
  left: -3rem;
  z-index: 1;
}
.choose-list {
  display: grid;
  gap: 3rem;
  margin-top: 4rem;
}

.choose-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.choose-list li span {
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  color: var(--main);
  display: inline-block;
  font-size: 2rem;
  padding: 6px 14px;
}

.choose-list li div h4 {
  color: var(--text-dark);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.choose-list li div p {
  color: var(--text-light);
}

.choose-img {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.popular-container {
  position: relative;
  isolation: isolate;
  padding-bottom: 1rem;
}

.popular-bg {
  aspect-ratio: 1;
  height: 12rem;
  object-fit: contain;
  overflow-x: hidden;
  position: absolute;
  left: 70%;
  top: -10px;
  transform: translate(-65%, -50%) rotate(-20deg) scaleY(-1);
  width: unset;
  z-index: 3;
}

.popular-card {
  border-radius: 3rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-inline: 1rem;
}

.popular-card img {
  aspect-ratio: 1;
}

.popular-content {
  isolation: isolate;
  padding-block: 3rem 2rem;
  position: relative;
  padding-inline: 2rem;
}
.popular-content h4 {
  color: var(--text-dark);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.popular-content p {
  color: var(--text-light);
  font-weight: 500;
  margin-bottom: 1rem;
}

.popular-content p span {
  color: var(--main);
}

.popular-card-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popular-card-footer div {
  align-items: center;
  color: var(--text-light);
  display: flex;
  gap: 10px;
}

.popular-card-footer span {
  font-size: 1.2rem;
}

.popular-rating {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  color: var(--text-light);
  display: flex;
  gap: 10px;
  left: 2rem;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.popular-rating span {
  color: goldenrod;
  font-size: 1.2rem;
}

.swiper {
  padding-block: 5rem;
  width: 100%;
}
.swiper-wrapper {
  padding: 5rem;
}

.swiper-slide {
  min-width: 375px;
}

.explore-container {
  display: grid;
  gap: 2rem 1rem;
  overflow: hidden;
}

.explore-img img {
  border-radius: 2rem;
  box-shadow: -30px -30px 0px rgba(0, 0, 0, 0.1);
  margin-inline: auto;
  max-width: 475px;
}

.explore-content .section-description {
  padding-block: 2rem;
}

.explore-content .btn {
  border-radius: 1.25rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1.25rem 2.5rem;
}

.explore-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
.explore-grid h4 {
  color: var(--text-dark);
  font-size: 3rem;
  font-weight: 500;
}

.explore-grid p {
  color: var(--text-light);
}

.client-container {
  isolation: isolate;
  position: relative;
}

.client-content {
  background-color: var(--white);
  border-left: 5px solid var(--main);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  transform: translateY(-5rem);
}
.client-content h4 {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: 500;
}

.client-content h5 {
  color: var(--main);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.client-content p {
  color: var(--text-light);
}

.client-bg {
  aspect-ratio: 1;
  height: 12rem;
  left: 50px;
  object-fit: contain;
  position: absolute;
  top: 5rem;
  transform: translate(-65%, -35%) rotate(90deg);
  width: unset;
}

.client-card {
  animation: fadeEffect 1s;
  display: none;
  isolation: isolate;
  margin-top: 4rem;
  position: relative;
}

.client-card.active {
  display: block;
}

.client-card img {
  border-radius: 2rem;
  box-shadow: 30px -30px 0px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.client-btns {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.client-btns .btn {
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  border: 2px solid var(--main);
  cursor: pointer;
  color: var(--main);
  font-size: 1.5rem;
  outline: none;
  padding: 10px 12px;
  transition: 0.3s;
}
.client-btns .btn:hover {
  background-color: var(--main);
  color: var(--white);
}

.contact-container :is(.section-header, .section-description) {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-container form{
  align-items: center;
  color: var(--white);
  border-radius: 10px;
  background-color: rgba(104, 216, 24, 0.5);
  display: flex;
  font-size: 1em;
  height: 45px;
  justify-content: space-between;
  max-width: 500px;
  margin-inline: auto;
}
.contact-container form div{
  padding: 10px;
  text-align: center;
}
.icon-2{
  font-size: 1.5rem;
}

.btn {
  background-color: var(--main);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  outline: none;
  padding: 0.75rem 1.5rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--dark);
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 540px) {
  .client-content {
    margin-left: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
  }
  .client-btns {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  nav {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: static;
    padding: 0.5rem 0.75rem;
  }

  .nav-header {
    background-color: transparent;
    flex: 1;
    padding: 0;
  }
  .nav-menu-btn {
    display: none;
  }

  .nav-link {
    background-color: transparent;
    flex-direction: row;
    transform: none !important;
    padding: 0;
    position: static;
    width: fit-content;
    z-index: 1;
  }

  .nav-link a {
    cursor: pointer;
    color: var(--text-dark);
  }
  .nav-link a:hover {
    color: var(--main);
  }
  .nav-btn {
    display: flex;
  }

  .header-container {
    align-items: center;
    isolation: isolate;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .header-content {
    position: relative;
    padding-bottom: 10rem;
  }

  .header-content :is(h1, .section-description) {
    text-align: left;
  }
  .header-content form {
    bottom: 0;
    border-radius: 1.5rem;
    gap: 2rem;
    position: absolute;
    margin: 0;
    width: max-content;
    z-index: 3;
  }

  .header-img img {
    transition: transform 0.3s ease-in-out;
  }

  .header-img img:hover {
    z-index: 9;
    transform: scale(1.1);
  }

  .header-img img:nth-child(1) {
    margin-left: 3rem;
  }

  .header-img img:nth-child(3) {
    margin-left: -3rem;
    margin-top: 1rem;
  }

  .header-img img:nth-child(4) {
    right: 6rem;
  }

  .choose-container {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .choose-container .about-img {
    left: -8rem;
  }
  .popular-bg {
    height: 32rem;
  }
  .explore-container {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .explore-content {
    grid-area: 1/1/1;
  }
  .client-btns {
    margin-top: 0;
    position: absolute;
    left: 10rem;
    bottom: 3.5rem;
  }
  .client-bg {
  height: 22rem;
}
}
