@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Modern+Antiqua&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

:root {
  --main: #69dd78;
  --light: #c1ff72;
  --dark: #00bf63;
  --white: #ffffff;
  --info: #c5baf3;
  --accent: #f79730;
  --correct: #7ec380;
  --text-dark: #191716;
  --text-light: #1e293b;
  --max-width: 1200px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.nav-header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  position: relative;
  width: 100%;
}

.nav-menu-btn {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

.nav-link {
  align-items: center;
  bottom: 0;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  left: 0;
  padding: 2rem;
  position: absolute;
  transform: translateY(0);
  transition: transform 0.4s ease;
  width: 100%;
  z-index: -1;
}

.nav-link.open {
  transform: translateY(100%);
}

.nav-link a {
  font-weight: 500;
  color: var(--white);
}

.nav-btn {
  display: none;
}

.logo-img {
  height: 70px;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section-header {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
  line-height: 3.25rem;
}
.section-header span {
  color: var(--main);
}

.section-subheader {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main);
}

.section-description {
  color: var(--text-light);
  line-height: 1.75rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--main);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--dark);
}

@media (min-width: 768px) {
  nav {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: static;
    padding: 0.5rem 0.75rem;
  }

  .nav-header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }
  .nav-menu-btn {
    display: none;
  }

  .nav-link {
    background-color: transparent;
    flex-direction: row;
    transform: none !important;
    padding: 0;
    position: static;
    width: fit-content;
    z-index: 1;
  }

  .nav-link a {
    cursor: pointer;
    color: var(--text-dark);
  }
  .nav-link a:hover {
    color: var(--main);
  }
  .nav-btn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
